/*

#############################
### ORGANISM: banner ########
#############################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_headline.scss';
@import 'components/atoms/_text.scss';

.#{utility('banner')} {
  margin-top: 5em;
  padding: 4em 8.32% 6.5em 8.32%;
  background-color: color('blue-ribbon');
}

.#{organism('banner')} {
  &-headline,  p {
    max-width: 720px;
    color: color('white');
  }
}
