/*

##############################
### MOLECULE: format-cards ###
##############################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text.scss';

.#{utility('format-cards')} {
  grid-column: 3 / 23;
}
.#{organism('format-cards')} {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  align-items: stretch;

  &-card {
    position: relative;
    grid-column: span 12;
    margin: 25px 0 0 0;
    border-radius: 10px;
    background-color: color('white');
    box-shadow: 6px 9px 40px 0 rgba(0, 0, 0, 0.15);
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

    @media (min-width: 600px) {
      grid-column: span 6;
  	}

    @media (min-width: 1024px) {
      grid-column: span 3;
  	}

    &:hover {
      box-shadow: 12px 18px 80px 10px rgba(0,0,0,0.05);
    }

    &-body {
      height: calc(100% - 47px);
      min-height: 145px;
      padding: 25px;
    }
    &-icon {
      position: absolute;
      left: 23px;
      top: 23px;
      height: 35px;
      width: 35px;
    }
    &-headline {
      @include txt-font-accent;
      margin: 6px auto 20px 45px;
    }
    &-link {
      height: 47px;
      padding: 10px;
      background-color: color('white');
      border-radius: 0 0 10px 10px;
      svg {
        fill: color('blue-ribbon');
      }
    }

    &-websites, &-ads {
      .ap-o-format-cards-card-headline, .ap-o-format-cards-card-copy {
        color: color('white');
      }
      .ap-o-format-cards-card-icon {
        fill: color('white');
      }
    }
    &-stories, &-email {
      .ap-o-format-cards-card-headline, .ap-o-format-cards-card-copy {
        color: color('ultramarine');
      }
      .ap-o-format-cards-card-icon {
        fill: color('ultramarine');
      }
    }

    &-websites {
      @include gradient-websites;
    }
    &-stories {
      @include gradient-stories;
    }
    &-ads {
      @include gradient-ads;
    }
    &-email {
      @include gradient-e-mails;
    }
  }
}
