/*

##################################
### ORGANISM: teaser component ###
##################################

### INFO:

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import 'teaser';

.#{molecule('teaser-component')} {
	&.#{molecule('teaser')} {
		@include teaser;

		& > a {
			@include teaser-linking;
			height: 100%;

			&:hover {
				@include teaser-linking-hover;

				.#{molecule('teaser')}-card {
					@include teaser-card-hover;
				}
			}
		}
	}

	.#{molecule('teaser')} {
		&-container {
			display: grid;
			grid-column-gap: 30px;
			grid-template-columns: repeat(12, 1fr);
			align-items: stretch;
			margin-top: 20px;
		}
		&-tags {
			font-size: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}

		&-card {
			@include teaser-card;
			height: 100%;
			border-radius: 0;
		}

		&-header {
			@include teaser-header;
			height: 90px;

			&-title {
				@include teaser-header-title;
        font-weight: bold;
			}
		}

		&--code {
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
			border: solid 1px #e8e8e8;
			margin-bottom: 20px;
			grid-column: span 12;
			transition: transform .3s cubic-bezier(.25,.1,.25,1), box-shadow .3s cubic-bezier(.25,.1,.25,1);

			&:hover {
				transform: translate3d(0,-2px,0);
				box-shadow: 0 25px 60px 0 rgba(0,0,0,.1);
			}

			@media (min-width: 600px) {
				grid-column: span 6;
			}

			@media (min-width: 1024px) {
				grid-column: span 4;
			}

			code {
				font-size: 1.125em;
				font-weight: bold;
			}

			p {
				font-size: 0.75em;
			}
		}

		&-content {
			@include teaser-content;
		}

		&-image {
			@include teaser-image;
		}

		&-headline {
			@include teaser-headline;
			margin-bottom: 0.65em;
		}

		&-copy {
			@include teaser-copy;
		}
	}
}
