/*

######################################
### TEMPLATE: docs guides overview ###
######################################

### INFO:

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../templates/_default.scss';

@import 'components/molecules/_teaser.scss';

.#{template('docs-guides-overview')} {
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top right;
  background-attachment: fixed;

  .#{utility('sidebar')} {
    @include sidebar;
  }

  .#{utility('container')} {
    @include container;
    @include container-nogap;
  }

  .#{utility('content')} {
    @include content;
    @include content-white-bg;
  }

  .#{utility('content')} {
    p.limit {
      margin-bottom: 1.75em;
    }

    h1, h2 {
      margin-bottom: .5em;
    }
  }

  section {
    &.#{utility('content')} {
      padding: 60px;
      background-color: color('white');
      box-shadow: 0 25px 40px 0 rgba(0,0,0,0.05);
    }
  }
  .#{utility('card-grid')} {
    @media (min-width: 930px) {
      padding: 40px 30px 90px;
    }
  }
}
