/*

#########################
### TEMPLATE: default ###
#########################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../templates/_default.scss';

.#{template('overview')} {
  background-color: color('whisper');

  .#{utility('container')} {
    @include container;
  }

  .#{utility('content')} {
    width: 100%;
    grid-column: 1 / 25;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    box-shadow: 0 25px 40px 0 rgba(0,0,0,0.05);
    background-color: color('white');
  }

  .#{utility('section')} {
    grid-column: 2 / 23;

    @media (min-width: 600px) {
      grid-column: 3 / 23;
    }

    &--fullscreen {
      grid-column: 1 / 25;
    }
  }

  .#{utility('sidebar')} {
    @include sidebar;
  }

  .#{utility('sidebar')} + .#{utility('content')} {
    @include content-with-sidebar;
  }
}
